.Input {
  background: none;
  border: 0;
  border-radius: 3px;
  box-sizing: content-box;
  display: inline-block;
  font-family: Arial;
  font-size: 13px;
  line-height: 1;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  white-space: normal;

  &:focus {
    outline: 0;
  }
}

  