.MoviePreview {
  display: inline-flex;
  flex-direction: column;
  height: 450px;
  text-decoration: none;
  width: 300px;

  &-Poster {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
  }

  &-Title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
