@import '../../utils/vars';

.Header {
  background-color: $dark-blue;
  width: 100%;

  &-Container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1em 0;
    text-align: left;
    width: 90%;
  }

  &-Logo {
    height: 2.5em;
    max-width: 70vw;
  }

  &-Search {
    height: 2.5em;
    max-width: 10vw;
  }

  @media screen and (min-width: $breakpoint-mobile) {
    &-Container {
      margin: 0 auto;
      width: 80vw;
    }

    &-Logo {
      height: 4em;
    }

    &-Search {
      height: 4em;
    }
  }
}
