.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  margin: 1em auto;
  width: 90%;

  &-Logo {
    height: 2.5em;
    max-width: 70vw;
  }

  &-Search {
    height: 2.5em;
    max-width: 10vw;
  }

  @media screen and (min-width: 768px) {
    width: 80vw;
    margin: 1em auto;

    &-Logo {
      height: 4em;
    }

    &-Search {
      height: 4em;
    }
  }
}
