.MoviePage {
  &-Wrapper {
    display: flex;
    flex-direction: column;
    padding: 1em;
  }

  &-TextSide {
    text-align: left;
  }

  &-TextSide,
  &-PosterSide {
    margin: 0 1em;
  }
  
  &-PosterSide img {
    max-width: 100%;
  }

  &-Title {
    text-align: center;
  }

  &-DetailsBlock {
    margin: 0;
    padding-left: 1em;
  }

  &-Metadata ul {
    list-style: none;
  }

  &-ButtonsArea {
    padding: 1em;
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    margin: 0 auto;
    width: 80vw;

    &-Wrapper {
      flex-direction: row;
    }
  }
}
